html, body {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}
.HUB {
    background-image: url('img/HUB\ Pagina\ Achtergrond\ O.png');
    width: 100%;
    height: 100%;
    background-size: cover;
}

h {
    position: relative;
    color: white;
    font-size: 60px;
    float: right;
    right: 20%;
}
#BJK {
    position: relative;
    width:500px;
    height:68px;
    top: 15%;
    background-color:#00ff40;
}
#BDB {
    position: relative;
    width: 500px;
    height: 68px;
    top: 35%;
    background-color: springgreen;
}