body,
html {
  margin: 0px;
}
* {
  font-family: Bahnschrift;
}

.background {
  position: absolute;
  background-image: url("img/Portfolio\ Achtergrond\ O.png");
  z-index: -1;
  width: 100%;
  height: 6985px;
  top: 0px;
  overflow-x: hidden;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  display: grid;
  grid-template-rows: repeat(5, 1000px);
  /* height: 6985px; */
}

/* inhoud */
.title {
  font-size: 115px;
  color: white;
  padding-left: 2%;
  display: inline-block;
}

.foto {
  border: 2px solid white;
}

/* navigatie */
button {
  border: none;
  background-color: rgb(75, 62, 90);
}

.navBar {
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: rgb(75, 62, 90);
}

.navButton {
  color: white;
  font-size: 20px;
}

.navButton:hover {
  background-color: rgb(62, 51, 75);
  cursor: pointer;
}

#navToggle{
    z-index: 2;
    position: fixed;
    display: none;
}
#navcontainer2{
    display: none;
}
#navcontainer1{
    display: block;
}

 /* navigatie voor telefoon */
@media only screen and (max-width: 999px) {
    #navcontainer2{
        display: block;
    }
    #navcontainer1{
        display: none;
    }
    #navToggle{
        display: block;
    }
    .navBar {
        grid-template-columns: 1fr;
        display:none;
    }
    #navLeftPart{
        display: none;
    }
    .navButton {
        font-size: 25px;
        padding: 10px;
      }
}

/* links to social media */
.logoLink {
  text-decoration: none;
}

.logoLogo {
  height: 50px;
  margin: 25px;
}
.fotome{
  right: 5%;
  position: relative;
  float: right;
  display: block;
  top: 10%;
  
}
.fotovoorbeeld1 {
  position: relative;
  float: left;
  top: 40%;
  left: 5%;
}
.fotovoorbeeld2 {
  position: relative;
  float: right;
  top: 10%;
  right: 5%;
}
.fotovoorbeeld3 {
  position: relative;
  float: right;
  top: 65%;
}
.preview {
  position: relative;
  text-align: center;
  top: 25%;
}

#WBI {
  color: white;
  font-size: 50px;
}
.WBI {
  position: relative;
  width: 75%;
  display: inline-block;
  left: 15%;

}
#visp {
  color: white;
  font-size: 50px;
}
.visp {
  position: relative;
  width: 75%;
  left: 15%;
}
.vis{
  display: inline-block;
  position: relative;
  left: 5%;
}

#footer {
  position: relative;
  color: white;
  font-size: 50px;
  left: 5%;
}